 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     background-color: rgb(48, 46, 46);
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
 }
 
 .menu_btn {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 80px;
     height: 80px;
     cursor: pointer;
     transition: all .5s ease-in-out;
     /* border: 3px solid white;*/
 }
 
 .menu_btn_burger {
     width: 50px;
     height: 6px;
     background: white;
     border-radius: 5px;
     box-shadow: 0 2px 5px rebeccapurple;
     transition: all .5s ease-in-out;
 }
 
 .menu_btn_burger::before,
 .menu_btn_burger::after {
     content: "";
     position: absolute;
     width: 50px;
     height: 6px;
     background: white;
     border-radius: 5px;
     box-shadow: 0 2px 5px rebeccapurple;
     transition: all .5s ease-in-out;
 }
 
 .menu_btn_burger::before {
     transform: translateY(-16px);
 }
 
 .menu_btn_burger::after {
     transform: translateY(16px);
 }
 /*Animation*/
 
 .menu_btn.open .menu_btn_burger {
     transform: translateX(-50px);
     background: transparent;
     box-shadow: none;
 }
 
 .menu_btn.open .menu_btn_burger::before {
     transform: rotate(45deg) translate(35px, -35px);
 }
 
 .menu_btn.open .menu_btn_burger::after {
     transform: rotate(-45deg) translate(35px, 35px);
 }